In [11]:
import pandas as pd, numpy as np

dat = pd.DataFrame({'y': [0,0,0,0,0,1,1,1,1,1], 'c': [0,0,1,0,1,1,1,0,1,0], 'X': [0,0,0,1,0,0,1,1,1,0]})
dat[['y', 'c', 'X']]

   y  c  X
0  0  0  0
1  0  0  0
2  0  1  0
3  0  0  1
4  0  1  0
5  1  1  0
6  1  1  1
7  1  0  1
8  1  1  1
9  1  0  0

Okay, so we have too many c==0 within y==0, and we have too many c==1 within y==1. Let's subsample: we remove 1 c==0 observation within the y==0 observations, and remove 1 c==1 obs within y==1.
Let's, totally random, choose observations 3 and 5.

In [8]:
dat2 = dat.iloc[[x for x in range(10) if not x in [3, 5]]]

In [10]:
dat2[['y', 'c', 'X']]

   y  c  X
0  0  0  0
1  0  0  0
2  0  1  0
4  0  1  0
6  1  1  1
7  1  0  1
8  1  1  1
9  1  0  0

Purrrfect! y and c are nicely balanced.

But... oops. Checkout the following:

In [13]:
dat.corr()

          X    c         y
X  1.000000  0.0  0.408248
c  0.000000  1.0  0.200000
y  0.408248  0.2  1.000000

In [12]:
dat2.corr()

          X         c         y
X  1.000000  0.258199  0.774597
c  0.258199  1.000000  0.000000
y  0.774597  0.000000  1.000000

See what happened?

Subsampling, when there is a correlation between the confound and X, causes bias.